div.col-span-9 {
  white-space: nowrap;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: auto;
}

div.col-span-9:hover {
  overflow: visible;
}

#list_todo {
  padding: 30px 15px 30px 15px;
}